/* Hack */
/* JetBrains */
@font-face {
  font-family: 'Hack Font';
  src: url('Hack/hack-regular-subset.woff2') format('woff2'),
    url('Hack/hack-regular-subset.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hack Font';
  src: url('Hack/hack-bold-subset.woff2') format('woff2'),
    url('Hack/hack-bold-subset.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Hack Font';
  src: url('Hack/hack-italic-subset.woff2') format('woff2'),
    url('Hack/hack-italic-subset.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Hack Font';
  src: url('Hack/hack-bolditalic-subset.woff2') format('woff2'),
    url('Hack/hack-bolditalic-subset.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* JetBrains */
@font-face {
  font-family: 'JetBrains Font Mono';
  src: url('JetBrains/JetBrainsMono-Regular.woff2') format('woff2'),
    url('JetBrains/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Font Mono';
  src: url('JetBrains/JetBrainsMono-Bold.woff2') format('woff2'),
    url('JetBrains/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'JetBrains Font Mono';
  src: url('JetBrains/JetBrainsMono-Italic.woff2') format('woff2'),
    url('JetBrains/JetBrainsMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'JetBrains Font Mono';
  src: url('JetBrains/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('JetBrains/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
